.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5857A5;
    font-weight: bold;
    /* position: relative; */

}
.profile-image-wrapper {
    position: relative;
    width: 75px;
    height: 75px;
}

.profile-img {
    width: 75px;
    height: 75px;
    border: 2px solid #5857A5;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.change-image-label {
    position: absolute;
    bottom: 0;
    right: 0;
}

.logout {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url('../assets/logout.svg');
    position: absolute;
    right: 0;
    top: 0;
}

.change-image {
    width: 22px;
    height: 22px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url(../assets/camera.svg);
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #5857A5;
}

.change-image-input {
    display: none;
}